*{
    margin: 0;
    padding: 0;
}
body{
    background: url(images/bg.jpg);
    background-color: #000;
}
img{
    widows: 100%;
}

.starwars-demo{
    height: 17em;
    position: absolute;
    top: 53%;
    left: 50%;
    width: 34em;
    /* background-color: red; */
    transform: translate(-50%, -50%);
    /* 视深度 */
    perspective: 800px;
    transform-style: preserve-3d;
}

.star,.wars,.byline{
    position: absolute;
}
.star{
    top: -0.75em;
}
.star{
    top: -0.75em;
    animation: star 10s ease-out infinite;
}
@keyframes star{
    0%{
        opacity: 0;
        transform: scale(1.5);
    }
    20%{
        opacity: 1;
    }
    89%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: translateZ(-400em);
    }
}
.wars{
    bottom: -0.5em;
    animation: wars 10s ease-out infinite;
}
@keyframes wars{
    0%{
        opacity: 0;
        transform: scale(1.5) translateY(0.5em);
    }
    20%{
        opacity: 1;
    }
    90%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: translateZ(-400em);
    }
}
.byline{
    left: 50%;
    top: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}